.tabs-container {
  max-width: 75rem;
  width: 100%;
  border-radius: 1rem;
}

.tabs-container ul {
  display: flex;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
}

.tabs-container ul li {
  font-size: 2rem;
  padding: 2rem;
  width: 25rem;
  text-align: center;
  color: black;
  background-color: #f5f5f5;
  border-radius: 1rem 1rem 0 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.tabs-container ul li.active {
  background-color: #e34c26;
  color: #ffffff;
}
.tabs-container ul li:nth-child(2).active {
  background-color: #264de4;
}

.tabs-container ul li:nth-child(3).active {
  background-color: #f0db4f;
}

.tabs-container ul li:nth-child(4).active {
  background-color: #4ff06a;
}

.tabs-container .content {
  width: 100%;
  overflow: hidden;
}

.tabs-container .content .desc {
  width: 100%;
  font-size: 1.8rem;
  padding: 2rem;
  line-height: 1.6;
  border-radius: 0 0 1rem 1rem;
  display: none;
  animation: fadeIn 0.5s ease-in-out;
}

.tabs-container .content .desc.active {
  display: block;
  background-color: #e34c26;
  color: #ffffff;
}

.tabs-container .content .desc:nth-child(2).active {
  background-color: #264de4;
}

.tabs-container .content .desc:nth-child(3).active {
  background-color: #f0db4f;
}

.tabs-container .content .desc:nth-child(4).active {
  background-color: #4ff06a;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
